<div
  *ngIf="blog"
  class="single-blog-container text-white p-6 max-w-4xl mx-auto"
>
  <button (click)="onBack()" class="text-gray-400 mb-4 hover:underline">
    ← Back to Blogs
  </button>

  <img
    [src]="blog.imageUrl"
    alt="{{ blog.title }}"
    class="w-full h-80 object-cover rounded-lg mb-6"
  />

  <div class="text-sm text-gray-400 mb-2">
    <span>{{ blog.authorName }}</span>
    <span class="mx-2">|</span>
    <span>{{ blog.date | date : "mediumDate" }}</span>
  </div>

  <h2 class="text-3xl font-bold mb-4">{{ blog.title }}</h2>

  <p class="text-lg text-gray-300 mb-6">{{ blog.description }}</p>

  <!-- Interaction Section for Comments, Likes, Dislike, and Favorites -->
  <div
    class="flex justify-between items-center mt-6 border-t border-gray-600 pt-4"
  >
    <!-- Like, Dislike, Favorite Buttons -->
    <div class="flex space-x-6">
      <button
        class="flex items-center text-gray-400 hover:text-white focus:outline-none"
      >
        <span class="material-symbols-outlined mr-2">thumb_up</span>
        <span class="text-sm">Like</span>
      </button>

      <!-- Dislike Button -->
      <button
        class="flex items-center text-gray-400 hover:text-white focus:outline-none"
      >
        <span class="material-symbols-outlined mr-2">thumb_down</span>
        <span class="text-sm">Dislike</span>
      </button>

      <button
        class="flex items-center text-gray-400 hover:text-white focus:outline-none"
      >
        <span class="material-symbols-outlined mr-2">favorite</span>
        <span class="text-sm">Favorite</span>
      </button>
    </div>

    <!-- Comment Input -->
    <div class="flex items-center w-2/3">
      <input
        type="text"
        placeholder="Write a comment..."
        class="bg-[#161D2F] border border-gray-500 text-white rounded-full px-4 py-2 focus:outline-none w-full"
      />
      <button class="ml-3 text-[#FC4747] hover:text-white focus:outline-none">
        <span class="material-symbols-outlined">send</span>
      </button>
    </div>
  </div>
</div>
