<div class="flex items-center justify-between p-1 bg-[#161D2F]">
  <div class="flex items-center">
    <img
      src="assets/firebase-logo.png"
      alt="Firebase Logo"
      class="w-10 h-10 mr-4"
    />
    <h1 class="text-white text-lg font-bold">Firebase Blog Community</h1>
  </div>

  <div class="w-full max-w-lg mx-4">
    <input
      type="text"
      placeholder="Search blogs..."
      class="w-full p-2 rounded-lg bg-[#10141e91] border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-[#5A698F]"
    />
  </div>

  <div class="flex items-center space-x-6">
    <a
      routerLink="/home"
      class="text-white hover:text-[#FC4747] transition duration-300"
      >Home</a
    >
    <a
      routerLink="/blogs"
      class="text-white hover:text-[#FC4747] transition duration-300"
      >Blogs</a
    >
    <a
      routerLink="/about-us"
      class="text-white hover:text-[#FC4747] transition duration-300"
      >Create Blog</a
    >
    <button
      class="bg-[#fa4b31] text-white py-1 px-6 rounded-full hover:bg-white hover:text-[#161D2F] transition duration-300"
    >
      Sign out
    </button>
  </div>
</div>
