<div class="flex items-center justify-between p-1 bg-[#161D2F]">
  <div class="flex items-center">
    <img
      src="assets/firebase-logo.png"
      alt="Firebase Logo"
      class="w-10 h-10 mr-4"
    />
    <h1 class="text-white text-lg md:text md:w-[240px] font-bold max-sm:hidden">
      Firebase Blog Community
    </h1>
  </div>
  <div class="flex items-center space-x-6">
    <a
      routerLink="/home"
      class="text-white hover:text-[#FC4747] transition duration-300"
      >Home</a
    >
    <a
      (click)="openCreateBlogModal()"
      class="text-white hover:text-[#FC4747] cursor-pointer transition duration-300"
      >Create Blog</a
    >
    <ng-container *ngIf="loggedInUser; else signInButton">
      <div
        class="flex items-center justify-center w-12 h-12 border-2 border-[#FA4B31] text-[#ffffff] rounded-full bg-transparent text-lg font-bold cursor-pointer hover:bg-[#FA4B31] hover:text-white transition duration-300"
        (click)="navigateToProfile()"
      >
        {{ getInitials(loggedInUser) }}
      </div>
    </ng-container>

    <ng-template #signInButton>
      <button
        (click)="navigateToAuth()"
        class="border-2 border-[#fa4b31] text-[#fa4b31] py-1 px-6 rounded-full hover:bg-[#fa4b31] hover:text-white hover:border-transparent transition duration-300 bg-transparent"
      >
        Sign In
      </button>
    </ng-template>
  </div>
</div>

<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-black bg-opacity-70 flex justify-center items-center z-50"
>
  <div class="w-[100%] rounded-lg">
    <app-create-blog (closeModal)="closeCreateBlogModal()"></app-create-blog>
  </div>
</div>
