<div class="card" *ngFor="let expense of expenses">
  <div class="card-header">
    <button class="add-btn" routerLink="form">Add Expense</button>
    <p>Total Expenses: {{ expenses.length }}</p>
  </div>
  <div class="card-body">
    <h3 class="title">{{ expense.title }}</h3>
    <p class="amount">${{ expense.price }}</p>
    <p>{{ expense.description }}</p>
  </div>
  <div class="card-footer">
    <button class="edit-btn" (click)="editExpense(expense.key!)">Edit</button>
    <button class="remove-btn" (click)="removeExpense(expense.key!)">
      Remove
    </button>
  </div>
</div>


<div class="modal" *ngIf="editingKey">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <h3>Edit Expense</h3>
    <form [formGroup]="editingExpenseForm" (ngSubmit)="saveExpense()">
      <input formControlName="title" placeholder="Title" />
      <input formControlName="price" placeholder="Price" />
      <input formControlName="description" placeholder="Description" />
      <button type="submit">Save</button>
    </form>
  </div>
</div>

<!-- Modal Overlay -->
<div class="modal-overlay" *ngIf="editingKey" (click)="closeModal()"></div>
